.cc-section {
  padding: 20px;
  > .test {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    > .section-title {
      color: black;
      font-size: 19px;
      margin-bottom: 20px;
      user-select: none;
      transition: 0.5s all;
      cursor: pointer;
      &:hover {
        border-bottom: 1px solid black;
      }
    }
  }

  > .section-items {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    > .content-card {
      &.hidden {
        display: none;
      }
      width: 19%;
      height: 150px;
      background-color: rgb(223, 223, 223);
      border-radius: 9px;
      position: relative;
      > img {
      }
      > span {
        position: absolute;
        bottom: -25px;
      }
    }
  }

  > .section-items-videos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
    overflow: hidden;
    > .content-card {
      width: 514px;
      height: 250px;
      background-color: rgb(223, 223, 223);
      border-radius: 9px;
      position: relative;
      overflow: hidden;
      > video {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
      > img {
      }
      > span {
        position: absolute;
        bottom: -25px;
      }
    }
  }

  > .section-items-templates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
    > .videos {
      align-items: center;
      display: flex;
      overflow-x: auto;
      gap: 35px;
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }
      > video {
        width: 250px;
        border-radius: 20px;
        pointer-events: none;
      }
    }
  }
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1920 - 320));
}
body,
button,
input {
  font: 1em Hind, sans-serif;
  line-height: 1.5em;
}
body,
input {
  color: #171717;
}
body,
.search-bar {
  display: flex;
}
body {
  background: #f1f1f1;
  height: 100vh;
}
.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
  transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
  width: 3em;
  height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid {
  width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
  outline: transparent;
}
.search-bar {
  padding: 1.5em;
  justify-content: center;
  max-width: 30em;
}
.search-bar input {
  background: transparent;
  border-radius: 1.5em;
  box-shadow: 0 0 0 0.4em #171717 inset;
  padding: 0.75em;
  transform: translate(0.5em, 0.5em) scale(0.5);
  transform-origin: 100% 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search-bar input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
}
.search-btn {
  background: #171717;
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
  padding: 0.75em;
  position: relative;
  transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
  transform-origin: 0 50%;
}
.search-btn:before,
.search-btn:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
}
.search-btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2em #f1f1f1 inset;
  top: 0.75em;
  left: 0.75em;
  width: 1.2em;
  height: 1.2em;
}
.search-btn:after {
  background: #f1f1f1;
  border-radius: 0 0.25em 0.25em 0;
  top: 51%;
  left: 51%;
  width: 0.75em;
  height: 0.25em;
  transform: translate(0.2em, 0) rotate(45deg);
  transform-origin: 0 50%;
}
.search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
  background: #565656;
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
}
.search-bar input:focus + .search-btn:before,
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before,
.search-bar input:valid + .search-btn:after {
  opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
  background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
  transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
  body,
  input {
    color: #f1f1f1;
  }
  body {
    background: #171717;
  }
  .search-bar input {
    box-shadow: 0 0 0 0.4em #f1f1f1 inset;
  }
  .search-bar input:focus,
  .search-bar input:valid {
    background: #3d3d3d;
    box-shadow: 0 0 0 0.1em #3d3d3d inset;
  }
  .search-btn {
    background: #f1f1f1;
  }
}

.row-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  margin: 32px 0;
}
.row-card--1 {
  color: #333;
}
.row-card--2 {
  color: transparent;
}
.card {
  width: 522px;
  height: 250px;
  background-color: #131313;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  /*   vertical-align: middle; */
  text-align: center;
  line-height: 232px;
}
.card--bg {
  background: linear-gradient(to right, #f1f1f1 30%, #e5e5e5 40%, #f1f1f1 50%);
  background-size: 200% 100%;
  animation: skeletonKeyframes 1s linear infinite;
}

.skeleton-banner {
  background: linear-gradient(to right, #f1f1f1 30%, #e5e5e5 40%, #f1f1f1 50%);
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: skeletonKeyframes;
  animation-timing-function: linear;
  background-size: 1000px 640px;
  position: relative;
}

/* voor demo purposes. Refer to Kermit storybook for actual code: https://kermit-sb.tcloud-prd1.prod.aws.kpn.org/?path=/story/components-skeleton--as-banner */
@keyframes skeletonKeyframes {
  0% {
    background-position: 0% 0%;
  }
  /* 	50% {
		background-position: -100% 0%;
	}  */
  100% {
    background-position: -200% 0%;
  }
}

.loadingtiktok, .loadingface, .loadinginsta {
  display: flex;

  &.hidden {
    display: none;
  }
}
