<h2 style="color: black;margin: 26px 26px 0px;">My Videos</h2>

<div class="cc-section">
  <div class="test">
    <div class="section-title" [routerLink]="['./video-list/tiktok']">TikTok videos</div>
    <form action="" class="search-bar">
      <input type="search" name="search" pattern=".*\S.*" required />
      <button class="search-btn" type="submit">
        <span>Search</span>
      </button>
    </form>
  </div>
  <div class="section-items-videos">
    <div *ngFor="let item of tiktokvideos" [routerLink]="['../video/'+item.id]" class="content-card">
      <video [controls]="false" autoplay loop [muted]="true" >
        <source  [src]="item.preview" type="video/mp4" />
      </video>
    </div>
  </div>
</div>

<div class="cc-section">
  <div class="test">
    <div class="section-title" [routerLink]="['./video-list/instagram']">Instagram Videos</div>
    <form action="" class="search-bar">
      <input type="search" name="search" pattern=".*\S.*" required />
      <button class="search-btn" type="submit">
        <span>Search</span>
      </button>
    </form>
  </div>
  <div class="section-items-videos">
    <div *ngFor="let item of facebookvideos" [routerLink]="['../video/'+item.id]" class="content-card">
      <video [controls]="false" autoplay loop [muted]="true" >
        <source  [src]="item.preview" type="video/mp4" />
      </video>
    </div>
  </div>
</div>

<div class="cc-section">
  <div class="test">
    <div class="section-title" [routerLink]="['./video-list/facebook']">Facebook Videos</div>
    <form action="" class="search-bar">
      <input type="search" name="search" pattern=".*\S.*" required />
      <button class="search-btn" type="submit">
        <span>Search</span>
      </button>
    </form>
  </div>
  <div class="section-items-videos">
    <div *ngFor="let item of youtubevideos" [routerLink]="['../video/'+item.id]" class="content-card">
      <video [controls]="false" autoplay loop [muted]="true" >
        <source  [src]="item.preview" type="video/mp4" />
      </video>
    </div>
  </div>
</div>
