<p>template works!</p>
<div class="cc-container" id="azerty">
  <div class="cc-form">
    <h2>Generate your own video</h2>
    <div class="cc-form-container">
      <div class="wrapper">
        <div class="cc-left">
          <div class="cc-input-group">
            <div class="input-title" id="azerty">Fill in the fields</div>
          </div>

          <div id="container-fields" class="cc-input-group-2">
            <div class="field-line">
              <div class="field-name">
                <div class="title-field">Video name</div>
                <input
                  class="small"
                  id="videoname"
                  (change)="changeName()"
                  type="text"
                  [(ngModel)]="videoName"
                />
              </div>
              <div class="field-name">
                <div class="title-field">Template category</div>
                <select name="" id="">
                  <option value="instagram">Instagram</option>
                  <option value="youtubeads">YouTube Ads</option>
                  <option value="facebook">Facebook</option>
                  <option value="tvads">TV Ads</option>
                  <option value="tiktok">TikTok</option>
                </select>
              </div>
              <div class="field-name">
                <div class="title-field">Template ratio</div>
                <select name="" id="">
                  <option value="6:19">6:19</option>
                  <option value="4:3">4:3</option>
                  <option value="9:16">9:16</option>
                </select>
              </div>
            </div>
          </div>

          <div id="container-fields" class="cc-input-group-2">
            <div class="container-header">
              <h4>template variables fields:</h4>
            </div>

            <div *ngFor="let item of list" class="field-line">
              <div class="field-name">
                <div class="title-field">name: {{ item.name }}</div>
                <input
                  *ngIf="item.type == 'text'"
                  type="text"
                  [(ngModel)]="item.value"
                />
                <input
                  *ngIf="item.type !== 'text'"
                  type="text"
                  [(ngModel)]="item.value"
                  class="small-url"
                  placeholder="Image Url"
                />
                <span *ngIf="item.type !== 'text'"> OR </span>
                <button *ngIf="item.type !== 'text'" class="upload-button">
                  <input
                    type="file"
                    [(ngModel)]="item.valueUrl"
                    id="file{{ item.id }}"
                    style="
                      height: 100%;
                      width: 100%;
                      position: absolute;
                      left: 0;
                      opacity: 0;
                    "
                  /><label for="file" class="upload-button-text">{{
                    item.valueUrl.length > 0
                      ? item.valueUrl.substring(12)
                      : "Upload file"
                  }}</label>
                </button>
              </div>
              <div class="field-name">
                <div class="title-field">asset type</div>
                <select name="" disabled id="" [(ngModel)]="item.type">
                  <option value="text">{{ item.type }}</option>
                  <option value="image">{{ item.type }}</option>
                  <option value="video">{{ item.type }}</option>
                  <option value="audio">{{ item.type }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="submit-files">
            <button type="button" (click)="submitVideo($event)">
              Generate video
            </button>
          </div>
        </div>
        <div class="cc-right">
          <div class="cc-input-group-2">
            <div class="container-header">
              <h4>Video preview</h4>
            </div>
            <div class="input-video-container">
              <video width="400" [controls]="true" autoplay [muted]="true">
                <source id="myvideo" [src]="template.preview" id="video_here" />
                Your browser does not support HTML5 video.
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="m-model hidden">
  <div class="m-container">
    <div class="project-box-wrapper">
      <div class="project-box">
        <div class="project-box-header">
          <span>Generating {{ videoName }}</span>
        </div>
        <div class="project-box-content-header">
          <p class="box-content-subheader">{{ generationStep }}</p>
        </div>
        <div class="box-progress-wrapper">
          <p class="box-progress-header" id="simpletext">Starting..</p>
          <div class="box-progress-bar">
            <div
              class="box-progress"
              id="progressBar"
              style="width: 0%; background-color: #ff942e"
            ></div>
          </div>
          <p class="box-progress-percentage" id="progressVal">0%</p>
        </div>
        <div class="project-box-footer">
          <label id="minutes">00</label>:<label id="seconds">00</label>
        </div>
      </div>
    </div>
  </div>
</div>
