<div class="cc-section">
  <div class="section-title">9:16 Templates</div>
  <div class="section-items-templates">
    <div class="videos">
      <div class="card-video" *ngFor="let item of templates1" (click)="selectTemplate(item.id)">
        <video [controls]="false" autoplay loop [muted]="true" >
          <source  [src]="item.preview" type="video/mp4" />
        </video>
        <div class="informations">
          <span class="name">{{item.name}}</span>
          <span class="duration">{{item.duration}}</span>
          <span class="category">{{item.category}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cc-section">
    <div class="section-title">
      16:9 Templates
    </div>
    <div class="section-items-templates">
      <div class="videos">
        <div class="card-video" *ngFor="let item of templates1" (click)="selectTemplate(item.id)">
          <video [controls]="false" autoplay loop [muted]="true" >
            <source  [src]="item.preview" type="video/mp4" />
          </video>
          <div class="informations">
            <span class="name">{{item.name}}</span>
            <span class="duration">{{item.duration}}</span>
            <span class="category">{{item.category}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cc-section">
    <div class="section-title">
      Latest Templates
    </div>
    <div class="section-items-templates">
      <div class="videos">
        <div class="card-video" *ngFor="let item of templates1" (click)="selectTemplate(item.id)">
          <video [controls]="false" autoplay loop [muted]="true" >
            <source  [src]="item.preview" type="video/mp4" />
          </video>
          <div class="informations">
            <span class="name">{{item.name}}</span>
            <span class="duration">{{item.duration}}</span>
            <span class="category">{{item.category}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>