<div class="cc-section">
  <div class="section-title">9:16 Templates</div>
  <div class="section-items-templates">
    <div class="videos">
      <div *ngFor="let item of templates1" (click)="selectTemplate(item.id)">
        <video [controls]="false" autoplay loop [muted]="true" >
          <source  [src]="item.preview" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
</div>

<div class="cc-section">
    <div class="section-title">
      16:9 Templates
    </div>
    <div class="section-items-templates">
      <div class="videos">
        <div *ngFor="let item of templates1" (click)="selectTemplate(item.id)">
          <video [controls]="false" autoplay loop [muted]="true" >
            <source  [src]="item.preview" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
  </div>

  <div class="cc-section">
    <div class="section-title">
      Latest Templates
    </div>
    <div class="section-items-templates">
      <div class="videos">
        <div *ngFor="let item of templates1" (click)="selectTemplate(item.id)">
          <video [controls]="false" autoplay loop [muted]="true" >
            <source  [src]="item.preview" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
  </div>