@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.cc-section {
  padding: 20px;
  > .section-title {
    color: black;
    font-size: 19px;
    margin-bottom: 20px;
  }
  > .section-items {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    > .content-card {
      width: 19%;
      height: 150px;
      background-color: rgb(223, 223, 223);
      border-radius: 9px;
      position: relative;
      > img {
      }
      > span {
        position: absolute;
        bottom: -25px;
      }
    }
  }

  > .section-items-videos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
    > .content-card {
      width: 32%;
      height: 250px;
      background-color: rgb(223, 223, 223);
      border-radius: 9px;
      position: relative;
      > img {
      }
      > span {
        position: absolute;
        bottom: -25px;
      }
    }
  }

  > .section-items-templates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
    .videos {
      align-items: center;
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      gap: 35px;
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }
      .card-video {
        height: 100%;
        > .m-cont {
          height: 450px;
          width: 250px;
          overflow: hidden;
          object-fit: cover;
          justify-content: center;
          display: flex;
          border-radius: 20px;

          &:hover {
            > .informations {
              opacity: 1;
              transform: translate3d(0, 0, 0);
            }
          }
          cursor: pointer;
          position: relative;
          > video {
            height: 450px;
            width: fit-content;
            border-radius: 20px;
            pointer-events: none;
          }
          > .informations {
            position: absolute;
            top: 6px;
            width: 100%;
            height: calc(100% - 5px);
            border-radius: 20px;
            background: linear-gradient(1deg, #000000c7 37%, transparent 100%);
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            opacity: 0;
            transition: 0.5s all;
            transform: translate3d(0, 27px, 0);
            > span {
              color: white;
              font-weight: 700;
              text-align: center;
              width: 100%;

              &.name {
                font-size: 30px;
              }
            }
          }
        }

        > .rating-section {
          border-top: 1px solid #eee;
          padding: 20px 12px;
          margin-top: 5px;
          display: table;
          content: "";
          clear: both;
          width: 100%;
        }

        .rating-with-color {
          color: #ffa500;
        }

        .stars-rating {
          float: left;
        }

        .stars-rating > span {
          font-size: small;
        }
      }
    }
  }
}

.fa-star-half-alt::before {
  content: "\f5c0";
}
