
<div class="wrapper">
    <div class="title-stuff">
        <h2 style="color: black;margin: 26px 26px 18px;">Create a new employee account</h2>
    </div>

<form>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputAddress">First Name</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="First Name">
          </div>
          <div class="form-group col-md-6">
            <label for="inputAddress2">Last Name</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Last Name">
          </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
    </div>
    
    
    <div class="form-group">
      <div class="form-check">
        <label class="form-check-label" style="color: black;">
            <input class="form-check-input" type="checkbox" value="">
            Active account
            <span class="form-check-sign">
              <span class="check"></span>
            </span>
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="add()">Create account</button>
  </form>

</div>