<div class="cc-section">
  <div class="section-title">Create Project</div>
  <div class="section-items">
    <div class="content-card" [routerLink]="['./add-template']">
      <img class="plus" src="//assets/img/plus.svg" alt="plus" />
      <span>Custom Template</span>
    </div>
    <div class="content-card">
      <img src="" alt="" />
      <span>TikTok 9:16</span>
    </div>
    <div class="content-card">
      <img src="" alt="" />
      <span>Instagram 9:16</span>
    </div>
    <div class="content-card">
      <img src="" alt="" />
      <span>YouTube Ads 16:9</span>
    </div>
    <div class="content-card">
      <img src="" alt="" />
      <span>Story 9:16</span>
    </div>
    <div class="content-card">
      <img src="" alt="" />
      <span>TV Ads 16:9</span>
    </div>
  </div>
</div>

<div class="cc-section">
  <div class="section-title">Latest Videos</div>
  <div class="section-items-videos">
    <div class="content-card">
      <img src="" alt="" />
    </div>
    <div class="content-card">
      <img src="" alt="" />
    </div>
    <div class="content-card">
      <img src="" alt="" />
    </div>
  </div>
</div>

<div class="cc-section">
  <div class="section-title">Latest Templates</div>
  <div class="section-items-templates">
    <div class="videos">
      <div class="cc-card">
        <video controls="false" autoplay loop [muted]="true">
          <source src="/assets/video/video1_m.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="cc-card">
        <video controls="false" autoplay loop [muted]="true">
          <source src="/assets/video/video2_m.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="cc-card">
        <video controls="false" autoplay loop [muted]="true">
          <source src="/assets/video/video3_m.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="cc-card">
        <video controls="false" autoplay loop [muted]="true">
          <source src="/assets/video/video4_m.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="cc-card">
        <video controls="false" autoplay loop [muted]="true">
          <source src="/assets/video/video5_m.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="cc-card">
        <video controls="false" autoplay loop [muted]="true">
          <source src="/assets/video/video6_m.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="cc-card">
        <video controls="false" autoplay loop [muted]="true">
          <source src="/assets/video/video7_m.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="cc-card">
        <video controls="false" autoplay loop [muted]="true">
          <source src="/assets/video/video8_m.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="cc-card">
        <video controls="false" autoplay loop [muted]="true">
          <source src="/assets/video/video9_m.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
</div>
