<div class="cc-section">
  <div class="section-title">Create Project</div>
  <div class="section-items">
    <div class="content-card" [routerLink]="['./add-template']">
      <img class="plus" src="/assets/img/plus.svg" alt="plus" />
      <span>Custom Template</span>
    </div>
    <div class="content-card">
      <video [controls]="false" autoplay loop [muted]="true">
        <source src="/assets/video/tiktok.mp4" type="video/mp4" />
      </video>
      <span>TikTok 9:16</span>
    </div>
    <div class="content-card insta" [routerLink]="['./instagram-templates']">
      <img src="/assets/img/instagram.jpg" class="insta">
      <span>Instagram 9:16</span>
    </div>
    <div class="content-card ytb" [routerLink]="['./youtube-templates']">
      <img src="/assets/img/ytb.png" class="insta" >
      <span>YouTube Ads 16:9</span>
    </div>
    <div class="content-card story">
      <img src="/assets/img/story.jpg" class="insta">
      <span>Story 9:16</span>
    </div>
    <div class="content-card">
      <video [controls]="false" autoplay loop [muted]="true">
        <source src="/assets/video/tv.mp4" type="video/mp4" />
      </video>
      <span>TV Ads 16:9</span>
    </div>
  </div>
</div>

<div class="cc-section">
  <div class="section-title">Latest Videos</div>
  <div class="section-items-videos">
    <div class="content-card">
      <img src="" alt="" />
    </div>
    <div class="content-card">
      <img src="" alt="" />
    </div>
    <div class="content-card">
      <img src="" alt="" />
    </div>
  </div>
</div>

<div class="cc-section">
  <div class="section-title">Latest Templates</div>
  <div class="section-items-templates">
    <div class="videos">
      <div class="card-video" *ngFor="let item of templates2">
        <div [ngClass]="{'new': item.id === 0}" class="m-cont" (click)="selectTemplate(item.id)">
          <video [controls]="false" autoplay loop [muted]="true">
            <source [src]="item.preview" type="video/mp4" />
          </video>
          <div class="informations">
            <span class="name">{{ item.name }}</span>
            <span class="duration">{{ item.duration }}</span>
            <span class="category">{{ item.category }}</span>
          </div>
        </div>
        <div class="rating-section">
          <div class="stars-rating">
            <i
              [ngClass]="{
                'far fa-star': 0 > item.rating,
                'fas fa-star-half': 0 < item.rating < 1,
                'fas fa-star': item.rating >= 1
              }"
              class="rating-with-color"
            ></i>
            <i
              [ngClass]="{
                'far fa-star': 1 > item.rating,
                'fas fa-star-half': 1 < item.rating < 2,
                'fas fa-star': item.rating >= 2
              }"
              class="rating-with-color"
            ></i>
            <i
              [ngClass]="{
                'far fa-star': 2 > item.rating,
                'fas fa-star-half': 2 < item.rating < 3,
                'fas fa-star': item.rating >= 3
              }"
              class="rating-with-color"
            ></i>
            <i
              [ngClass]="{
                'far fa-star': 3 > item.rating,
                'fas fa-star-half': 3 < item.rating < 4,
                'fas fa-star': item.rating >= 4
              }"
              class="rating-with-color"
            ></i>
            <i
              [ngClass]="{
                'far fa-star': 4 > item.rating,
                'fas fa-star-half': 4 < item.rating < 5,
                'fas fa-star': item.rating >= 5
              }"
              class="rating-with-color"
            ></i>
            <span>{{ item.rating }} out of 5</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
