<div class="cc-container">
  <div class="nav-bar">
    <div class="cc-brand">
      <a
        class="navbar-brand"
        placement="bottom"
        [routerLink]="['/home']"
      >
        <img src="../../../assets/img/apple-icon.png" alt="logo" /><span>
          SHOP TV•
        </span>
      </a>
    </div>
    <div class="cc-items"></div>
  </div>
  <div class="main">
    <div class="side-bar">
        <div class="side-bar-title-container">
            <div class="menu-title">
                <img src="../../../assets/img/house.png" alt="home">
                <h4>Welcome home</h4>
            </div>
        </div>
        <div class="side-menu">
            <span class="title">
                Workspace
            </span>
            <div class="menu-items">
                <h5><img src="../../../assets/img/cloud.png" alt="cloud"> My space</h5>
                <ul>
                    <li>My Templates</li>
                    <li>My Videos</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-container">
      <div class="cc-section">
        <div class="section-title">
          Create Project
        </div>
        <div class="section-items">
          <div class="content-card">
            <img src="" alt="">
            <span>TikTok 9:16</span>
          </div>
          <div class="content-card">
            <img src="" alt="">
            <span>Instagram 9:16</span>
          </div>
          <div class="content-card">
            <img src="" alt="">
            <span>YouTube Ads 16:9</span>
          </div>
          <div class="content-card">
            <img src="" alt="">
            <span>Story 9:16</span>
          </div>
          <div class="content-card">
            <img src="" alt="">
            <span>TV Ads 16:9</span>
          </div>
        </div>
      </div>

      <div class="cc-section">
        <div class="section-title">
          Latest Videos
        </div>
        <div class="section-items-videos">
          <div class="content-card">
            <img src="" alt="">
          </div>
          <div class="content-card">
            <img src="" alt="">
          </div>
          <div class="content-card">
            <img src="" alt="">
          </div>
        </div>
      </div>

      <div class="cc-section">
        <div class="section-title">
          Latest Templates
        </div>
        <div class="section-items-templates">
          <div class="videos">
            <video controls="false" autoplay loop [muted]="true">
              <source src="../../../assets/video/video1_m.mp4" type="video/mp4">
            </video>
            <video controls="false" autoplay loop [muted]="true">
              <source src="../../../assets/video/video2_m.mp4" type="video/mp4">
            </video>
            <video controls="false" autoplay loop [muted]="true">
              <source src="../../../assets/video/video3_m.mp4" type="video/mp4">
            </video>
            <video controls="false" autoplay loop [muted]="true">
              <source src="../../../assets/video/video4_m.mp4" type="video/mp4">
            </video>
            <video controls="false" autoplay loop [muted]="true">
              <source src="../../../assets/video/video5_m.mp4" type="video/mp4">
            </video>
            <video controls="false" autoplay loop [muted]="true">
              <source src="../../../assets/video/video6_m.mp4" type="video/mp4">
            </video>
            <video controls="false" autoplay loop [muted]="true">
              <source src="../../../assets/video/video7_m.mp4" type="video/mp4">
            </video>
            <video controls="false" autoplay loop [muted]="true">
              <source src="../../../assets/video/video8_m.mp4" type="video/mp4">
            </video>
            <video controls="false" autoplay loop [muted]="true">
              <source src="../../../assets/video/video9_m.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="first-modal">
    
  </div>
</div>
