.navbar {
  &.bg-danger {
    background-color: #1b0637 !important;
  }
  > .container {
    > .navbar-translate {
      > .navbar-brand {
        img {
          filter: invert(1);
          width: 55px;
        }
      }
    }
    > .navbar-collapse-header {
    }
    > .navbar-collapse {
      > .navbar-nav {
        > .nav-item {
          > a {
            background-image: unset;
            background-color: transparent;
            border: 1px solid #4e4e4e;
            &:hover,
            &:active,
            &:focus {
              background-color: #2c2c2c !important;
              background-image: unset !important;
            }
          }
        }
      }
    }
  }
}

.register {
  margin: 21px 20px;
  color: #a0a1b5;
}

.cc-brand {
  > a {
    color: black;
    font-weight: 700;
    > img {
      width: 141px;
      height: 57px;
      object-fit: cover;

      &.denns {
        width: 264px;
      }
    }
  }
}

.row {
  justify-content: center;
}
.card-register .card-header img {
  position: absolute;
  margin-left: -69px;
  margin-top: -150px;
  border-radius: 20%;
  height: 342px;
  width: 432px;
}
.successModal,
.formReset {
  &.hidden {
    display: none;
  }
}
.msg {
  width: 78%;
  margin: 20px auto;
}
.loading {
  animation: rotating 2s linear infinite;
  margin-right: 20px;

  &.hidden {
    display: none;
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.card-title {
  color: #ebebeb !important;
}
