.navbar {
    &.bg-danger {
      background-color: black !important;
    }
    > .container {
      > .navbar-translate {
        > .navbar-brand {
          img {
            filter: invert(1);
            width: 55px;
          }
        }
      }
      > .navbar-collapse-header {
      }
      > .navbar-collapse {
        > .navbar-nav {
          > .nav-item {
            > a {
              background-image: unset;
              background-color: transparent;
              border: 1px solid #4e4e4e;
              &:hover,
              &:active,
              &:focus {
                background-color: #2c2c2c !important;
                background-image: unset !important;
              }
            }
          }
        }
      }
    }
  }